.logo {
    background-image: url('../assets/logo.png');
    background-size: contain;
    width: 200px;
    height: 50px;
    background-repeat: no-repeat;
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;

    margin: 0px;
    padding: 0px;
}

.main-page {}