.navigation-bar {
  text-align: center;
  width: 100%;
}
.navigation-bar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 10px;
  width: 100%;
}

.navigation-bar ul li {
  margin-bottom: 5px;
}
.profile-icon img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}
.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.title-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.header h1 {
  margin: 0;
  font-size: 24px;
}
